## Scoring guide (Rubric) - Statistical Learning Project I - Rubric

In [2]:
import pandas as pd
import numpy as np
from IPython.core.display import HTML

# 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)

In [3]:
laliga_dataSet = pd.read_csv('D:\\PGP\\Assignments\\21Mar2020\\Laliga.csv')

In [4]:
laliga_dataSet.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2

In [5]:
## The columns doesn't have the proper name/categorical value, looks to be the column names are also treated as Rows.
## Hence skipping the first row

laliga_dataSet = pd.read_csv('D:\\PGP\\Assignments\\21Mar2020\\Laliga.csv',skiprows=1)

In [6]:
##Observations - We got the columns with the proper categorical Name
display(HTML(laliga_dataSet.to_html()))

In [7]:
laliga_dataSet.shape

(61, 20)

# 1. Replacing the dashes with 0 in the loaded dataset

In [8]:
laliga_dataSet.replace(to_replace='-',value=0,inplace=True)

In [9]:
display(HTML(laliga_dataSet.to_html()))

In [10]:
##Basic Arithematic Function

display(HTML(laliga_dataSet.describe(include="all").to_html()))

In [11]:
laliga_dataSet.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

# 2. Print all the teams which have started playing between 1930-1980. Use “Debut” column. (Include both the years - 1930 and 1980) (5 points)

In [12]:
##Replacing the Debut years which have the character '-' and considering only the start year as debut year.
## For example: 1929-30 considering the debut year as 1929

laliga_dataSet.replace( {'Debut':'\\d{4}-\\d{2}'},
                                {'Debut':laliga_dataSet['Debut'].str[0:4]},regex=True,inplace=True)

In [13]:
## converting the debut object into int64, extracting the Teams and Debut year and sorting 
## them in Ascending order of Debut Year

print(laliga_dataSet[laliga_dataSet['Debut'].astype({'Debut':'int64'}) >= 1930]
      [laliga_dataSet['Debut'].astype({'Debut':'int64'}) <= 1980]
      [['Team','Debut']].sort_values(by='Debut',
        axis=0,
        ascending=True,
        inplace=False,
        kind='quicksort'))

                   Team Debut
28               Alaves  1930
3              Valencia  1931
9            Real Betis  1932
17               Oviedo  1933
5               Sevilla  1934
25             Hercules  1935
15              Osasuna  1935
8              Zaragoza  1939
11           Celta Vigo  1939
27               Murcia  1940
21              Granada  1941
10  Deportivo La Coruna  1941
34            Castellon  1941
31             Sabadell  1943
14       Sporting Gijon  1944
49             Alcoyano  1945
46            Gimnastic  1947
12           Valladolid  1948
16               Malaga  1949
54               Lleida  1950
19           Las Palmas  1951
58      Atletico Tetuan  1951
50                 Jaen  1953
59     Cultural Leonesa  1955
57               Condal  1956
23                Elche  1959
18             Mallorca  1960
26             Tenerife  1961
37              Cordoba  1962
29              Levante  1963
41           Pontevedra  1963
40            Burgos CF  1971
30            Salamanca  1974
22       Rayo Vallecano  1977
32                Cadiz  1977
39           Recreativo  1978
52           AD Almeria  1979

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

# 3. Print the list of teams which came Top 5 in terms of points (2.5 points)

In [14]:
print(laliga_dataSet[['Team','Points']].astype({'Points':'int64'}).nlargest(5,'Points',keep="all"))

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

# 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points).

In [15]:
def Goal_diff_count(laliga_dataSet):
        goalDiffList = []
        maxMinGoalDiff_Dict ={}
        for i in range(len(laliga_dataSet)):
            maxMinGoalDiff_Dict.update({laliga_dataSet.loc[i,'Team']:
                                        int(laliga_dataSet.loc[i,'GoalsFor']) - int(laliga_dataSet.loc[i,'GoalsAgainst'])})
            goalDiffList.append("S.No: "+str(i)+" "+laliga_dataSet.loc[i,'Team']+" has a GoalsFor of about "
                                +str(laliga_dataSet.loc[i,'GoalsFor'])
                                + " and Goals Against them  "+str(laliga_dataSet.loc[i,'GoalsAgainst'])
                                +" So, the Goal Difference is "
                                +str(int(laliga_dataSet.loc[i,'GoalsFor']) - int(laliga_dataSet.loc[i,'GoalsAgainst'])))
        goalDiffList.append("-------------------------Team with Maximum Goal Difference--------------------")
        goalDiffList.append(str(max(maxMinGoalDiff_Dict, key =maxMinGoalDiff_Dict.get))
                            +" is the team has maximum goal difference of about "
                            +str(max(maxMinGoalDiff_Dict.values())))
        goalDiffList.append("-------------------------Team with Minimum Goal Difference--------------------")
        goalDiffList.append(str(min(maxMinGoalDiff_Dict, key =maxMinGoalDiff_Dict.get))
                            +" is the team has minimum goal difference of about "
                            +str(min(maxMinGoalDiff_Dict.values())))
        return goalDiffList

In [16]:
for row in Goal_diff_count(laliga_dataSet):
        print(row)

S.No: 0 Real Madrid has a GoalsFor of about 5947 and Goals Against them  3140 So, the Goal Difference is 2807
S.No: 1 Barcelona has a GoalsFor of about 5900 and Goals Against them  3114 So, the Goal Difference is 2786
S.No: 2 Atletico Madrid has a GoalsFor of about 4534 and Goals Against them  3309 So, the Goal Difference is 1225
S.No: 3 Valencia has a GoalsFor of about 4398 and Goals Against them  3469 So, the Goal Difference is 929
S.No: 4 Athletic Bilbao has a GoalsFor of about 4631 and Goals Against them  3700 So, the Goal Difference is 931
S.No: 5 Sevilla has a GoalsFor of about 3680 and Goals Against them  3373 So, the Goal Difference is 307
S.No: 6 Espanyol has a GoalsFor of about 3609 and Goals Against them  3889 So, the Goal Difference is -280
S.No: 7 Real Sociedad has a GoalsFor of about 3228 and Goals Against them  3230 So, the Goal Difference is -2
S.No: 8 Zaragoza has a GoalsFor of about 2683 and Goals Against them  2847 So, the Goal Difference is -164
S.No: 9 Real Betis has a GoalsFor of about 2159 and Goals Against them  2492 So, the Goal Difference is -333
S.No: 10 Deportivo La Coruna has a GoalsFor of about 2052 and Goals Against them  2188 So, the Goal Difference is -136
S.No: 11 Celta Vigo has a GoalsFor of about 2278 and Goals Against them  2624 So, the Goal Difference is -346
S.No: 12 Valladolid has a GoalsFor of about 1767 and Goals Against them  2180 So, the Goal Difference is -413
S.No: 13 Racing Santander has a GoalsFor of about 1843 and Goals Against them  2368 So, the Goal Difference is -525
S.No: 14 Sporting Gijon has a GoalsFor of about 1753 and Goals Against them  2152 So, the Goal Difference is -399
S.No: 15 Osasuna has a GoalsFor of about 1500 and Goals Against them  1834 So, the Goal Difference is -334
S.No: 16 Malaga has a GoalsFor of about 1421 and Goals Against them  1763 So, the Goal Difference is -342
S.No: 17 Oviedo has a GoalsFor of about 1642 and Goals Against them  1951 So, the Goal Difference is -309
S.No: 18 Mallorca has a GoalsFor of about 1182 and Goals Against them  1371 So, the Goal Difference is -189
S.No: 19 Las Palmas has a GoalsFor of about 1347 and Goals Against them  1746 So, the Goal Difference is -399
S.No: 20 Villarreal has a GoalsFor of about 892 and Goals Against them  789 So, the Goal Difference is 103
S.No: 21 Granada has a GoalsFor of about 819 and Goals Against them  1157 So, the Goal Difference is -338
S.No: 22 Rayo Vallecano has a GoalsFor of about 760 and Goals Against them  1088 So, the Goal Difference is -328
S.No: 23 Elche has a GoalsFor of about 750 and Goals Against them  1022 So, the Goal Difference is -272
S.No: 24 Getafe has a GoalsFor of about 520 and Goals Against them  633 So, the Goal Difference is -113
S.No: 25 Hercules has a GoalsFor of about 716 and Goals Against them  1050 So, the Goal Difference is -334
S.No: 26 Tenerife has a GoalsFor of about 619 and Goals Against them  744 So, the Goal Difference is -125
S.No: 27 Murcia has a GoalsFor of about 607 and Goals Against them  992 So, the Goal Difference is -385
S.No: 28 Alaves has a GoalsFor of about 458 and Goals Against them  623 So, the Goal Difference is -165
S.No: 29 Levante has a GoalsFor of about 430 and Goals Against them  632 So, the Goal Difference is -202
S.No: 30 Salamanca has a GoalsFor of about 422 and Goals Against them  581 So, the Goal Difference is -159
S.No: 31 Sabadell has a GoalsFor of about 492 and Goals Against them  720 So, the Goal Difference is -228
S.No: 32 Cadiz has a GoalsFor of about 393 and Goals Against them  662 So, the Goal Difference is -269
S.No: 33 Logrones has a GoalsFor of about 291 and Goals Against them  489 So, the Goal Difference is -198
S.No: 34 Castellon has a GoalsFor of about 419 and Goals Against them  588 So, the Goal Difference is -169
S.No: 35 Albacete has a GoalsFor of about 320 and Goals Against them  410 So, the Goal Difference is -90
S.No: 36 Almeria has a GoalsFor of about 244 and Goals Against them  366 So, the Goal Difference is -122
S.No: 37 Cordoba has a GoalsFor of about 285 and Goals Against them  430 So, the Goal Difference is -145
S.No: 38 Compostela has a GoalsFor of about 199 and Goals Against them  241 So, the Goal Difference is -42
S.No: 39 Recreativo has a GoalsFor of about 202 and Goals Against them  296 So, the Goal Difference is -94
S.No: 40 Burgos CF has a GoalsFor of about 216 and Goals Against them  310 So, the Goal Difference is -94
S.No: 41 Pontevedra has a GoalsFor of about 165 and Goals Against them  221 So, the Goal Difference is -56
S.No: 42 Numancia has a GoalsFor of about 155 and Goals Against them  253 So, the Goal Difference is -98
S.No: 43 Eibar has a GoalsFor of about 139 and Goals Against them  167 So, the Goal Difference is -28
S.No: 44 Arenas has a GoalsFor of about 227 and Goals Against them  308 So, the Goal Difference is -81
S.No: 45 Real Burgos has a GoalsFor of about 101 and Goals Against them  139 So, the Goal Difference is -38
S.No: 46 Gimnastic has a GoalsFor of about 181 and Goals Against them  295 So, the Goal Difference is -114
S.No: 47 Extremadura has a GoalsFor of about 62 and Goals Against them  117 So, the Goal Difference is -55
S.No: 48 Merida has a GoalsFor of about 70 and Goals Against them  115 So, the Goal Difference is -45
S.No: 49 Alcoyano has a GoalsFor of about 145 and Goals Against them  252 So, the Goal Difference is -107
S.No: 50 Jaen has a GoalsFor of about 121 and Goals Against them  183 So, the Goal Difference is -62
S.No: 51 Real Union has a GoalsFor of about 153 and Goals Against them  184 So, the Goal Difference is -31
S.No: 52 AD Almeria has a GoalsFor of about 71 and Goals Against them  116 So, the Goal Difference is -45
S.No: 53 Europa has a GoalsFor of about 97 and Goals Against them  131 So, the Goal Difference is -34
S.No: 54 Lleida has a GoalsFor of about 70 and Goals Against them  182 So, the Goal Difference is -112
S.No: 55 Leganes has a GoalsFor of about 36 and Goals Against them  55 So, the Goal Difference is -19
S.No: 56 Xerez has a GoalsFor of about 38 and Goals Against them  66 So, the Goal Difference is -28
S.No: 57 Condal has a GoalsFor of about 37 and Goals Against them  57 So, the Goal Difference is -20
S.No: 58 Atletico Tetuan has a GoalsFor of about 51 and Goals Against them  85 So, the Goal Difference is -34
S.No: 59 Cultural Leonesa has a GoalsFor of about 34 and Goals Against them  65 So, the Goal Difference is -31
S.No: 60 Girona has a GoalsFor of about 0 and Goals Against them  0 So, the Goal Difference is 0
-------------------------Team with Maximum Goal Difference--------------------
Real Madrid is the team has maximum goal difference of about 2807
-------------------------Team with Minimum Goal Difference--------------------
Racing Santander is the team has minimum goal difference of about -525

# 5. Create a new column with the name “Winning Percent” and append it to the data set (5 points) Percentage of Winning = (GamesWon / GamesPlayed)*100 If there are any numerical error, replace it with 0% Print the top 5 teams which have the highest Winning percentage

In [17]:
## Adding the new feature Winning Percent to the dataFrame using the above formula
laliga_dataSet['Winning Percent']= laliga_dataSet['GamesWon'].astype('int64')/laliga_dataSet['GamesPlayed'].astype('int64') *100

In [18]:
## Replacing the numerical error using the fillna() Where the team Girona has the numerical error so the 
## Winning percent is 0.00
laliga_dataSet.fillna(0).tail(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,0.000000

In [21]:
## Top 5 teams having the highest winning percent
print(laliga_dataSet[['Team','Winning Percent']].nlargest(5,'Winning Percent',keep="all"))

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

# 6.Group teams based on their “Best position” and print the sum of their points for all positions (7.5 points)

In [22]:
laliga_best_position_groupBy = laliga_dataSet[['BestPosition','Team','Points']].astype({'Points':'int64'}).groupby(['BestPosition'])

In [23]:
display(HTML(laliga_best_position_groupBy.aggregate({'Team':lambda x: " , ".join(x),'Points':'sum'}).to_html()))

# Print top rows of the above dataframe

In [24]:
display(HTML(laliga_best_position_groupBy.aggregate({'Team':lambda x: " , ".join(x),'Points':'sum'}).head(10).to_html()))